
.navbar
{
	display : flex;
	flex-wrap : wrap;
	padding : 20px;
	justify-content : space-between;

}
.navbar .navops
{
	
	display: flex;
	flex-wrap : wrap;
	position : relative;
	list-style-type:none;
	
}


.navbar .navops h3
{
	display: flex;
	padding : 10px;
	font-family : monaco, menlo, monospace, helvetica;
	font-weight: bold;
}
.navbar  h1
{
	font-family : fantasy, menlo, monaco, helvetica;
	font-size : 5em;
	margin : 0;

}
